/** @format */

@font-face {
  font-family: IRANSans;
  src: url('/fonts/IRANSans/IRANSansWeb_Light.woff') format('woff');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    direction: rtl;
    text-align: right;
    font-family: IRANSans;
  }
}
@layer components {
  .image {
    width: 2rem;
    height: 2rem;
    border-radius: 0.3rem;
    margin: 0.2rem;
    -webkit-user-select: none;
    user-select: none;
  }
  .select-none {
    -webkit-user-select: none;
    user-select: none;
  }
  .list-group {
    @apply mb-0 flex flex-col px-0;
  }
  .list-group-item {
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
  }
  .list-group-item:hover,
  .list-group-item:active,
  .list-group-item:focus {
    z-index: 1;
    color: #495057;
    text-decoration: none;
    background-color: #f8f9fa;
  }
  .list-group-item:first-child {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
  }
  .media {
    @apply flex items-start;
  }
  .media-body {
    @apply flex-1;
  }
  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }

  .info-box-body h5 {
    font-size: 0.8rem;
    line-height: 1rem;
    padding: 0.5rem;
  }
  .info-box-body p {
    font-size: 0.7rem;
    line-height: 1rem;
    padding: 0.125rem;
  }
  .info-box-icon {
    font-size: 2rem;
    padding: 0.2rem;
  }
  .bg-custom-yellow {
    background: -webkit-gradient(
      linear,
      left top,
      right top,
      from(#feb798),
      to(#fe9365)
    );
    background: linear-gradient(to right, #feb798, #fe9365);
  }
  .bg-custom-green {
    background: -webkit-gradient(
      linear,
      left top,
      right top,
      from(#0df3a3),
      to(#0ac282)
    );
    background: linear-gradient(to right, #0df3a3, #0ac282);
  }
  .bg-custom-pink {
    background: -webkit-gradient(
      linear,
      left top,
      right top,
      from(#fe909d),
      to(#fe5d78)
    );
    background: linear-gradient(to right, #fe909d, #fe5d78);
  }
  .bg-custom-blue {
    background: -webkit-gradient(
      linear,
      left top,
      right top,
      from(#01dbdf),
      to(#01a9ac)
    );
    background: linear-gradient(to right, #01dbdf, #01a9ac);
  }
  .icon {
  }
  .angle {
  }
}
@layer utilities {
  .flex-between {
    @apply flex justify-between;
  }
  .flex-around {
    @apply flex justify-around;
  }
  .flex-center {
    @apply flex items-center justify-center;
  }
}
